USE [FinalConsultorio]
GO
/****** Object:  UserDefinedFunction [dbo].[FC_CalcularEdad]    Script Date: 9/3/2025 1:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create function [dbo].[FC_CalcularEdad](@FechaNac date)
	returns int
	as
	begin
	declare @Edad int 
	Select @Edad= DateDiff(DAY,@FechaNac,GETDATE())/365 from Pacientes
	return @Edad
    end
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 9/3/2025 1:55:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdMedico] [int] NULL,
	[IdAdministrativo] [int] NULL,
	[Nombre] [varchar](50) NOT NULL,
	[IdTipoUsuario] [int] NOT NULL,
	[Contraseña] [varbinary](8000) NOT NULL,
	[Bloqueo] [bit] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vw_ListaUsuarios]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE View [dbo].[Vw_ListaUsuarios] as
select  IdUsuario,IdMedico,IdAdministrativo,Nombre,IdTipoUsuario,Convert(Varchar(max),DECRYPTBYPASSPHRASE('password',Contraseña)) as contraseña,Bloqueo  from Usuarios
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[IdPaciente] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [nvarchar](150) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[IdTipoDoc] [int] NOT NULL,
	[NroDoc] [int] NOT NULL,
	[IdGenero] [int] NOT NULL,
	[IdNacionalidad] [int] NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[IdLocalidad] [int] NOT NULL,
	[GrupoSanguineo] [nchar](10) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[FechaNac] [date] NOT NULL,
	[TelefonoMovil] [nvarchar](50) NULL,
	[TelefonoFijo] [nvarchar](50) NULL,
	[IdObraSocial] [int] NULL,
	[IdPlan] [int] NULL,
	[NroAfiliado] [nvarchar](30) NULL,
 CONSTRAINT [PK_Pacientes] PRIMARY KEY CLUSTERED 
(
	[IdPaciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ListaPacientes]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create View [dbo].[ListaPacientes]
as
SELECT IdPaciente,Apellido,Nombre,IdTipoDoc,NroDoc ,IdGenero,
IdNacionalidad,IdProvincia,IdLocalidad,GrupoSanguineo,
Direccion,FechaNac,TelefonoMovil,TelefonoFijo,IdObraSocial,IdPlan,NroAfiliado FROM Pacientes
--Editar
GO
/****** Object:  Table [dbo].[Medicos]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos](
	[IdMedico] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [nvarchar](150) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[IdTipoDoc] [int] NOT NULL,
	[NroDoc] [int] NOT NULL,
	[IdGenero] [int] NOT NULL,
	[IdNacionalidad] [int] NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[IdLocalidad] [int] NOT NULL,
	[GrupoSanguineo] [nchar](10) NOT NULL,
	[Direccion] [nvarchar](200) NOT NULL,
	[FechaNac] [date] NOT NULL,
	[TelefonoMovil] [nvarchar](50) NULL,
	[TelefonoFijo] [nvarchar](50) NULL,
	[IdObraSocial] [int] NOT NULL,
	[IdPlan] [int] NOT NULL,
	[NroAfiliado] [nvarchar](30) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Medicos] PRIMARY KEY CLUSTERED 
(
	[IdMedico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_listaMedicos]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_listaMedicos] as 
Select IdMedico,Apellido,Nombre,IdTipoDoc,NroDoc,idGenero,IdNacionalidad,IdProvincia,IdLocalidad,
GrupoSanguineo,Direccion,FechaNac,TelefonoMovil,TelefonoFijo,IdObraSocial,IdPlan,NroAfiliado,Estado
from Medicos 
GO
/****** Object:  Table [dbo].[MedicosPlanes]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicosPlanes](
	[IdMedicoPlan] [int] IDENTITY(1,1) NOT NULL,
	[IdMedicoEspecialidad] [int] NOT NULL,
	[IdObraSocial] [int] NULL,
	[IdPlan] [int] NOT NULL,
 CONSTRAINT [PK_Medicos_Obras] PRIMARY KEY CLUSTERED 
(
	[IdMedicoPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[V_listaMedicoPlanes]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[V_listaMedicoPlanes] 
as 
Select IdMedicoPlan,IdMedico,IdObraSocial,IdPlan From MedicosPlanes
GO
/****** Object:  Table [dbo].[Especialidades]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidades](
	[IdEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[Especialidad] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Especialidades] PRIMARY KEY CLUSTERED 
(
	[IdEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ListaEspecialidades]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create View [dbo].[ListaEspecialidades]
as
Select IdEspecialidad,Especialidad From Especialidades
GO
/****** Object:  Table [dbo].[Administrativos]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrativos](
	[IdAdministrativo] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [nvarchar](150) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[IdTipoDoc] [int] NOT NULL,
	[NroDoc] [int] NOT NULL,
	[IdGenero] [int] NOT NULL,
	[IdNacionalidad] [int] NOT NULL,
	[FechaNac] [date] NOT NULL,
	[TelefonoMovil] [nvarchar](50) NULL,
	[TelefonoFijo] [nvarchar](50) NULL,
	[Salario] [decimal](18, 2) NOT NULL,
	[FechaIngreso] [date] NOT NULL,
	[IdObraSocial] [int] NOT NULL,
	[IdPlan] [int] NOT NULL,
	[NroAfiliado] [nvarchar](30) NOT NULL,
	[Estado] [bit] NOT NULL,
 CONSTRAINT [PK_Administrativos] PRIMARY KEY CLUSTERED 
(
	[IdAdministrativo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ListaAdministrativos]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create View [dbo].[ListaAdministrativos] 
as 
SELECT IdAdministrativo,Apellido,Nombre,IdTipoDoc,NroDoc ,IdGenero,IdNacionalidad,FechaNac,TelefonoMovil,TelefonoFijo,Salario,FechaIngreso,IdObraSocial,IdPlan,NroAfiliado,[Estado]''''''FROM Administrativos
GO
/****** Object:  Table [dbo].[Medicos_Especialidades]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicos_Especialidades](
	[IdMedicoEspecialidad] [int] IDENTITY(1,1) NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdEspecialidad] [int] NOT NULL,
	[Matricula] [nvarchar](100) NOT NULL,
	[CostoConsulta] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Medicos Especialidades] PRIMARY KEY CLUSTERED 
(
	[IdMedicoEspecialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vw_ListaMedico_Especialidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create View [dbo].[Vw_ListaMedico_Especialidad]
as
Select IdMedicoEspecialidad,m.IdMedico,e.IdEspecialidad,Matricula,CostoConsulta from Medicos_Especialidades me
       inner join Medicos m on m.IdMedico=me.IdMedico inner join Especialidades e on e.IdEspecialidad=me.IdEspecialidad
GO
/****** Object:  Table [dbo].[Jornadas]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jornadas](
	[IdJornada] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[HoraInicio] [time](7) NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Vw_ListaJornadas]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE view [dbo].[Vw_ListaJornadas] 
 as
 Select IdJornada,Nombre,cast(HoraInicio as varchar)as HoraInicio from Jornadas
GO
/****** Object:  Table [dbo].[AlquilerConsultorio]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AlquilerConsultorio](
	[IdAlquilerConsultorio] [int] IDENTITY(1,1) NOT NULL,
	[IdConsultorio] [int] NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdMedicoEspecialidad] [int] NULL,
	[IdJornada] [int] NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
 CONSTRAINT [PK_AlquilerConsultorio] PRIMARY KEY CLUSTERED 
(
	[IdAlquilerConsultorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Caja]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Caja](
	[IdCaja] [int] IDENTITY(1,1) NOT NULL,
	[IdCtaCta] [int] NULL,
	[Fecha] [date] NULL,
	[Debe] [decimal](18, 2) NULL,
	[Haber] [decimal](18, 2) NULL,
	[Saldo]  AS ([Debe]-[Haber]),
 CONSTRAINT [PK_Caja] PRIMARY KEY CLUSTERED 
(
	[IdCaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[IdConsulta] [int] IDENTITY(1,1) NOT NULL,
	[IdTurno] [int] NOT NULL,
	[Sintomas] [varchar](550) NULL,
	[Diagnostico] [varchar](550) NULL,
	[Medicacion] [varchar](200) NULL,
	[Observaciones] [varchar](500) NULL,
 CONSTRAINT [PK_Consultas] PRIMARY KEY CLUSTERED 
(
	[IdConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultorios]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultorios](
	[IdConsultorio] [int] IDENTITY(1,1) NOT NULL,
	[Consultorio] [nchar](30) NOT NULL,
	[Estado] [bit] NOT NULL,
	[CostoAlquiler] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Consultorios] PRIMARY KEY CLUSTERED 
(
	[IdConsultorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CtasCtesMedicos]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtasCtesMedicos](
	[IdCtaCte] [int] IDENTITY(1,1) NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdAlquilerConsultorio] [int] NOT NULL,
	[IdTurno] [int] NOT NULL,
	[FechaMovimiento] [date] NOT NULL,
	[Liquidado] [bit] NOT NULL,
	[FechaLiquidacion] [date] NULL,
	[Debe] [numeric](18, 2) NOT NULL,
	[Haber] [numeric](18, 2) NOT NULL,
	[Saldo]  AS ([Debe]-[Haber]),
 CONSTRAINT [PK_CtasCtes] PRIMARY KEY CLUSTERED 
(
	[IdCtaCte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleConsultas]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleConsultas](
	[IdDetalleConsulta] [int] IDENTITY(1,1) NOT NULL,
	[IdConsulta] [int] NOT NULL,
	[Sintomas] [nvarchar](150) NOT NULL,
	[Diagnostico] [nvarchar](150) NOT NULL,
	[Observaciones] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_DetalleConsultas] PRIMARY KEY CLUSTERED 
(
	[IdDetalleConsulta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dias]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dias](
	[IdDia] [int] IDENTITY(1,1) NOT NULL,
	[Dia] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Dias] PRIMARY KEY CLUSTERED 
(
	[IdDia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[IdGenero] [int] IDENTITY(1,1) NOT NULL,
	[Genero] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Generos] PRIMARY KEY CLUSTERED 
(
	[IdGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Licencias]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Licencias](
	[IdLicencia] [int] IDENTITY(1,1) NOT NULL,
	[IdMedico] [int] NOT NULL,
	[IdMotivo] [int] NOT NULL,
	[FechaInico] [date] NOT NULL,
	[FechaFinalizacion] [date] NOT NULL,
	[Descripcion] [nvarchar](150) NULL,
 CONSTRAINT [PK_Licencias] PRIMARY KEY CLUSTERED 
(
	[IdLicencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidades]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidades](
	[IdLocalidad] [int] IDENTITY(1,1) NOT NULL,
	[IdProvincia] [int] NOT NULL,
	[Localidad] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Localidades] PRIMARY KEY CLUSTERED 
(
	[IdLocalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medico_Dias_Consultorios]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medico_Dias_Consultorios](
	[IdMedicoDiaConsultorio] [int] IDENTITY(1,1) NOT NULL,
	[IdMedicoEspecialidad] [int] NOT NULL,
	[IdDia] [int] NOT NULL,
	[IdConsultorio] [int] NOT NULL,
	[HoraEntrada] [time](7) NOT NULL,
	[HoraSalida] [time](7) NOT NULL,
 CONSTRAINT [PK_Medico_Dias_Consultorios] PRIMARY KEY CLUSTERED 
(
	[IdMedicoDiaConsultorio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MotivosLicencias]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MotivosLicencias](
	[IdMotivo] [int] IDENTITY(1,1) NOT NULL,
	[Motivo] [nchar](10) NULL,
 CONSTRAINT [PK_MotivosLicencias] PRIMARY KEY CLUSTERED 
(
	[IdMotivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nacionalidades]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nacionalidades](
	[IdNacionalidad] [int] IDENTITY(1,1) NOT NULL,
	[Nacionalidad] [nvarchar](100) NULL,
 CONSTRAINT [PK_Nacionalidades] PRIMARY KEY CLUSTERED 
(
	[IdNacionalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ObraSociales]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ObraSociales](
	[IdObraSocial] [int] IDENTITY(1,1) NOT NULL,
	[ObraSocial] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ObraSociales] PRIMARY KEY CLUSTERED 
(
	[IdObraSocial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planes]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planes](
	[IdPlan] [int] IDENTITY(1,1) NOT NULL,
	[IdObraSocial] [int] NOT NULL,
	[Nombre] [nvarchar](50) NULL,
	[Cobertura] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Planes] PRIMARY KEY CLUSTERED 
(
	[IdPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincias]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincias](
	[IdProvincia] [int] IDENTITY(1,1) NOT NULL,
	[Provincia] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Provincias] PRIMARY KEY CLUSTERED 
(
	[IdProvincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservaTurnos]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservaTurnos](
	[IdTurno] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [nvarchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Hora] [time](7) NULL,
	[IdMedico] [int] NULL,
	[IdMedicoEspecialidad] [int] NULL,
	[IdPaciente] [int] NULL,
	[IdAlquilerConsultorio] [int] NOT NULL,
	[IdConsultorio] [int] NULL,
	[Estado] [bit] NULL,
	[Costo] [decimal](18, 2) NULL,
	[Presente] [bit] NULL,
 CONSTRAINT [PK_ReservaTurnos] PRIMARY KEY CLUSTERED 
(
	[IdTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposDocumento]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposDocumento](
	[IdTipoDoc] [int] IDENTITY(1,1) NOT NULL,
	[TipoDoc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TiposDocumento] PRIMARY KEY CLUSTERED 
(
	[IdTipoDoc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposMovimientos]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposMovimientos](
	[IdTipoMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[TipoMovimiento] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TiposMovimientos] PRIMARY KEY CLUSTERED 
(
	[IdTipoMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoUsuarios]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoUsuarios](
	[IdTipoUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Tipo Usuario] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TipoUsuarios] PRIMARY KEY CLUSTERED 
(
	[IdTipoUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrativos] ON 

INSERT [dbo].[Administrativos] ([IdAdministrativo], [Apellido], [Nombre], [IdTipoDoc], [NroDoc], [IdGenero], [IdNacionalidad], [FechaNac], [TelefonoMovil], [TelefonoFijo], [Salario], [FechaIngreso], [IdObraSocial], [IdPlan], [NroAfiliado], [Estado]) VALUES (1, N'Quiroga', N'Matias', 1, 40235561, 1, 1, CAST(N'1997-03-15' AS Date), N'2226497525', N'2226683943', CAST(2400.00 AS Decimal(18, 2)), CAST(N'2017-05-09' AS Date), 1002, 1, N'29399340044', 1)
INSERT [dbo].[Administrativos] ([IdAdministrativo], [Apellido], [Nombre], [IdTipoDoc], [NroDoc], [IdGenero], [IdNacionalidad], [FechaNac], [TelefonoMovil], [TelefonoFijo], [Salario], [FechaIngreso], [IdObraSocial], [IdPlan], [NroAfiliado], [Estado]) VALUES (2, N'Silvera', N'Tatiana', 1, 22921831, 2, 1, CAST(N'1989-01-02' AS Date), N'222766388', N'2332244', CAST(14500.00 AS Decimal(18, 2)), CAST(N'2010-02-09' AS Date), 2013, 2010, N'998666467889', 0)
SET IDENTITY_INSERT [dbo].[Administrativos] OFF
GO
SET IDENTITY_INSERT [dbo].[AlquilerConsultorio] ON 

INSERT [dbo].[AlquilerConsultorio] ([IdAlquilerConsultorio], [IdConsultorio], [IdMedico], [IdMedicoEspecialidad], [IdJornada], [FechaInicio], [FechaFin]) VALUES (2074, 5, 28, 11, 1, CAST(N'2025-09-03' AS Date), CAST(N'2025-10-03' AS Date))
SET IDENTITY_INSERT [dbo].[AlquilerConsultorio] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultas] ON 

INSERT [dbo].[Consultas] ([IdConsulta], [IdTurno], [Sintomas], [Diagnostico], [Medicacion], [Observaciones]) VALUES (8, 8336, N'Dolor cabeza', N'Resaca', N'Ibu 400', N'1 cada 8 hs')
SET IDENTITY_INSERT [dbo].[Consultas] OFF
GO
SET IDENTITY_INSERT [dbo].[Consultorios] ON 

INSERT [dbo].[Consultorios] ([IdConsultorio], [Consultorio], [Estado], [CostoAlquiler]) VALUES (1, N'8                             ', 1, CAST(350.00 AS Decimal(18, 2)))
INSERT [dbo].[Consultorios] ([IdConsultorio], [Consultorio], [Estado], [CostoAlquiler]) VALUES (2, N'13                            ', 0, CAST(600.00 AS Decimal(18, 2)))
INSERT [dbo].[Consultorios] ([IdConsultorio], [Consultorio], [Estado], [CostoAlquiler]) VALUES (3, N'3                             ', 1, CAST(690.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Consultorios] OFF
GO
SET IDENTITY_INSERT [dbo].[CtasCtesMedicos] ON 

INSERT [dbo].[CtasCtesMedicos] ([IdCtaCte], [IdMedico], [IdAlquilerConsultorio], [IdTurno], [FechaMovimiento], [Liquidado], [FechaLiquidacion], [Debe], [Haber]) VALUES (2004, 26, 2067, 6480, CAST(N'2018-02-28' AS Date), 0, NULL, CAST(426.24 AS Numeric(18, 2)), CAST(0.00 AS Numeric(18, 2)))
INSERT [dbo].[CtasCtesMedicos] ([IdCtaCte], [IdMedico], [IdAlquilerConsultorio], [IdTurno], [FechaMovimiento], [Liquidado], [FechaLiquidacion], [Debe], [Haber]) VALUES (2005, 28, 2072, 8257, CAST(N'2025-09-05' AS Date), 0, NULL, CAST(21312.00 AS Numeric(18, 2)), CAST(0.00 AS Numeric(18, 2)))
INSERT [dbo].[CtasCtesMedicos] ([IdCtaCte], [IdMedico], [IdAlquilerConsultorio], [IdTurno], [FechaMovimiento], [Liquidado], [FechaLiquidacion], [Debe], [Haber]) VALUES (2006, 28, 2074, 8336, CAST(N'2025-09-08' AS Date), 0, NULL, CAST(21312.00 AS Numeric(18, 2)), CAST(0.00 AS Numeric(18, 2)))
SET IDENTITY_INSERT [dbo].[CtasCtesMedicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Dias] ON 

INSERT [dbo].[Dias] ([IdDia], [Dia]) VALUES (9, N'Domingo')
INSERT [dbo].[Dias] ([IdDia], [Dia]) VALUES (1004, N'Jueves')
INSERT [dbo].[Dias] ([IdDia], [Dia]) VALUES (2, N'Lunes')
SET IDENTITY_INSERT [dbo].[Dias] OFF
GO
SET IDENTITY_INSERT [dbo].[Especialidades] ON 

INSERT [dbo].[Especialidades] ([IdEspecialidad], [Especialidad]) VALUES (5, N'Alergologo')
INSERT [dbo].[Especialidades] ([IdEspecialidad], [Especialidad]) VALUES (4, N'Cardiologo')
INSERT [dbo].[Especialidades] ([IdEspecialidad], [Especialidad]) VALUES (15, N'Cirujano')
SET IDENTITY_INSERT [dbo].[Especialidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Generos] ON 

INSERT [dbo].[Generos] ([IdGenero], [Genero]) VALUES (2, N'Femenino')
INSERT [dbo].[Generos] ([IdGenero], [Genero]) VALUES (4, N'Femenino Adquirido')
INSERT [dbo].[Generos] ([IdGenero], [Genero]) VALUES (1, N'Masculino')
SET IDENTITY_INSERT [dbo].[Generos] OFF
GO
SET IDENTITY_INSERT [dbo].[Jornadas] ON 

INSERT [dbo].[Jornadas] ([IdJornada], [Nombre], [HoraInicio]) VALUES (1, N'Completa', CAST(N'08:00:00' AS Time))
INSERT [dbo].[Jornadas] ([IdJornada], [Nombre], [HoraInicio]) VALUES (2, N'Mañana', CAST(N'08:00:00' AS Time))
INSERT [dbo].[Jornadas] ([IdJornada], [Nombre], [HoraInicio]) VALUES (3, N'Tarde', CAST(N'16:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Jornadas] OFF
GO
SET IDENTITY_INSERT [dbo].[Localidades] ON 

INSERT [dbo].[Localidades] ([IdLocalidad], [IdProvincia], [Localidad]) VALUES (1028, 26, N'Alta Gracia')
INSERT [dbo].[Localidades] ([IdLocalidad], [IdProvincia], [Localidad]) VALUES (1017, 12, N'Antofagasta de la sierra')
INSERT [dbo].[Localidades] ([IdLocalidad], [IdProvincia], [Localidad]) VALUES (1021, 4, N'Barranqueras')
SET IDENTITY_INSERT [dbo].[Localidades] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicos] ON 

INSERT [dbo].[Medicos] ([IdMedico], [Apellido], [Nombre], [IdTipoDoc], [NroDoc], [IdGenero], [IdNacionalidad], [IdProvincia], [IdLocalidad], [GrupoSanguineo], [Direccion], [FechaNac], [TelefonoMovil], [TelefonoFijo], [IdObraSocial], [IdPlan], [NroAfiliado], [Estado]) VALUES (23, N'Pascua', N'Juan', 1, 2232327, 2, 2, 1, 1, N'A+        ', N'Pedro alvera 233', CAST(N'1987-03-03' AS Date), NULL, NULL, 1004, 9, N'37634737', 1)
INSERT [dbo].[Medicos] ([IdMedico], [Apellido], [Nombre], [IdTipoDoc], [NroDoc], [IdGenero], [IdNacionalidad], [IdProvincia], [IdLocalidad], [GrupoSanguineo], [Direccion], [FechaNac], [TelefonoMovil], [TelefonoFijo], [IdObraSocial], [IdPlan], [NroAfiliado], [Estado]) VALUES (25, N'Holze', N'Alejandra', 1, 876678890, 2, 1, 1, 1, N'B-        ', N'', CAST(N'1894-02-08' AS Date), NULL, NULL, 1003, 8, N'888377483', 0)
INSERT [dbo].[Medicos] ([IdMedico], [Apellido], [Nombre], [IdTipoDoc], [NroDoc], [IdGenero], [IdNacionalidad], [IdProvincia], [IdLocalidad], [GrupoSanguineo], [Direccion], [FechaNac], [TelefonoMovil], [TelefonoFijo], [IdObraSocial], [IdPlan], [NroAfiliado], [Estado]) VALUES (26, N'Santiago', N'Marilyn Adriana', 1, 40678544, 2, 1, 1, 1, N'B-        ', N'B° Peluffo Ruta 3 km 55', CAST(N'2018-02-28' AS Date), N'2226564532', N'-', 2013, 2010, N'3657489112', 0)
SET IDENTITY_INSERT [dbo].[Medicos] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicos_Especialidades] ON 

INSERT [dbo].[Medicos_Especialidades] ([IdMedicoEspecialidad], [IdMedico], [IdEspecialidad], [Matricula], [CostoConsulta]) VALUES (1, 23, 1, N'392748324232342-09', CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[Medicos_Especialidades] ([IdMedicoEspecialidad], [IdMedico], [IdEspecialidad], [Matricula], [CostoConsulta]) VALUES (4, 25, 2, N'392748324232342-07', CAST(100.00 AS Decimal(18, 2)))
INSERT [dbo].[Medicos_Especialidades] ([IdMedicoEspecialidad], [IdMedico], [IdEspecialidad], [Matricula], [CostoConsulta]) VALUES (6, 25, 6, N'8274876238783-87', CAST(200.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Medicos_Especialidades] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicosPlanes] ON 

INSERT [dbo].[MedicosPlanes] ([IdMedicoPlan], [IdMedicoEspecialidad], [IdObraSocial], [IdPlan]) VALUES (10, 1, 1004, 9)
INSERT [dbo].[MedicosPlanes] ([IdMedicoPlan], [IdMedicoEspecialidad], [IdObraSocial], [IdPlan]) VALUES (9, 4, 1004, 9)
INSERT [dbo].[MedicosPlanes] ([IdMedicoPlan], [IdMedicoEspecialidad], [IdObraSocial], [IdPlan]) VALUES (17, 6, 2, 7)
SET IDENTITY_INSERT [dbo].[MedicosPlanes] OFF
GO
SET IDENTITY_INSERT [dbo].[Nacionalidades] ON 

INSERT [dbo].[Nacionalidades] ([IdNacionalidad], [Nacionalidad]) VALUES (16, N'Aleman')
INSERT [dbo].[Nacionalidades] ([IdNacionalidad], [Nacionalidad]) VALUES (11, N'Americano')
INSERT [dbo].[Nacionalidades] ([IdNacionalidad], [Nacionalidad]) VALUES (1, N'Argentino')
SET IDENTITY_INSERT [dbo].[Nacionalidades] OFF
GO
SET IDENTITY_INSERT [dbo].[ObraSociales] ON 

INSERT [dbo].[ObraSociales] ([IdObraSocial], [ObraSocial]) VALUES (2013, N'ACCORD ')
INSERT [dbo].[ObraSociales] ([IdObraSocial], [ObraSocial]) VALUES (2014, N'APSOT')
INSERT [dbo].[ObraSociales] ([IdObraSocial], [ObraSocial]) VALUES (2010, N'IOMA')
SET IDENTITY_INSERT [dbo].[ObraSociales] OFF
GO
SET IDENTITY_INSERT [dbo].[Pacientes] ON 

INSERT [dbo].[Pacientes] ([IdPaciente], [Apellido], [Nombre], [IdTipoDoc], [NroDoc], [IdGenero], [IdNacionalidad], [IdProvincia], [IdLocalidad], [GrupoSanguineo], [Direccion], [FechaNac], [TelefonoMovil], [TelefonoFijo], [IdObraSocial], [IdPlan], [NroAfiliado]) VALUES (2, N'Quiroga', N'Matias Leonel', 1, 40235561, 1, 1, 1, 1, N'A+        ', N'askjkjsadkjsa 32', CAST(N'1997-03-15' AS Date), N'76543', N'345678', 1003, 8, N'98765')
INSERT [dbo].[Pacientes] ([IdPaciente], [Apellido], [Nombre], [IdTipoDoc], [NroDoc], [IdGenero], [IdNacionalidad], [IdProvincia], [IdLocalidad], [GrupoSanguineo], [Direccion], [FechaNac], [TelefonoMovil], [TelefonoFijo], [IdObraSocial], [IdPlan], [NroAfiliado]) VALUES (4, N'Ortiz ', N'Sebastian', 1, 76545356, 2, 2, 1, 1, N'A+        ', N'gwfswsyw', CAST(N'2016-08-13' AS Date), N'234567', N'345', 1002, 5, N'224455')
INSERT [dbo].[Pacientes] ([IdPaciente], [Apellido], [Nombre], [IdTipoDoc], [NroDoc], [IdGenero], [IdNacionalidad], [IdProvincia], [IdLocalidad], [GrupoSanguineo], [Direccion], [FechaNac], [TelefonoMovil], [TelefonoFijo], [IdObraSocial], [IdPlan], [NroAfiliado]) VALUES (1002, N'Quiroga', N'lurdes magaly', 1, 49876564, 2, 1, 1, 1, N'b+        ', N'Pasaje 7', CAST(N'2005-05-04' AS Date), N'823948923', N'388924', 1002, 1, N'7832878292')
SET IDENTITY_INSERT [dbo].[Pacientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Planes] ON 

INSERT [dbo].[Planes] ([IdPlan], [IdObraSocial], [Nombre], [Cobertura]) VALUES (1, 1002, N'A1', CAST(15.00 AS Decimal(18, 2)))
INSERT [dbo].[Planes] ([IdPlan], [IdObraSocial], [Nombre], [Cobertura]) VALUES (2, 1002, N'Premium', CAST(50.00 AS Decimal(18, 2)))
INSERT [dbo].[Planes] ([IdPlan], [IdObraSocial], [Nombre], [Cobertura]) VALUES (5, 1002, N'Basico', CAST(1.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Planes] OFF
GO
SET IDENTITY_INSERT [dbo].[Provincias] ON 

INSERT [dbo].[Provincias] ([IdProvincia], [Provincia]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[Provincias] ([IdProvincia], [Provincia]) VALUES (12, N'Catamarca')
INSERT [dbo].[Provincias] ([IdProvincia], [Provincia]) VALUES (4, N'Chaco')
SET IDENTITY_INSERT [dbo].[Provincias] OFF
GO
SET IDENTITY_INSERT [dbo].[ReservaTurnos] ON 

INSERT [dbo].[ReservaTurnos] ([IdTurno], [Descripcion], [Fecha], [Hora], [IdMedico], [IdMedicoEspecialidad], [IdPaciente], [IdAlquilerConsultorio], [IdConsultorio], [Estado], [Costo], [Presente]) VALUES (8321, N'Dia 8 hora 08:00:00', CAST(N'2025-09-08T00:00:00.000' AS DateTime), CAST(N'08:00:00' AS Time), 28, 11, NULL, 0, 5, 0, CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[ReservaTurnos] ([IdTurno], [Descripcion], [Fecha], [Hora], [IdMedico], [IdMedicoEspecialidad], [IdPaciente], [IdAlquilerConsultorio], [IdConsultorio], [Estado], [Costo], [Presente]) VALUES (8322, N'Dia 8 hora 16:00:00', CAST(N'2025-09-08T00:00:00.000' AS DateTime), CAST(N'16:00:00' AS Time), 28, 11, NULL, 0, 5, 0, CAST(0.00 AS Decimal(18, 2)), 0)
INSERT [dbo].[ReservaTurnos] ([IdTurno], [Descripcion], [Fecha], [Hora], [IdMedico], [IdMedicoEspecialidad], [IdPaciente], [IdAlquilerConsultorio], [IdConsultorio], [Estado], [Costo], [Presente]) VALUES (8323, N'Dia 8 hora 08:30:00', CAST(N'2025-09-08T00:00:00.000' AS DateTime), CAST(N'08:30:00' AS Time), 28, 11, NULL, 0, 5, 0, CAST(0.00 AS Decimal(18, 2)), 0)
SET IDENTITY_INSERT [dbo].[ReservaTurnos] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposDocumento] ON 

INSERT [dbo].[TiposDocumento] ([IdTipoDoc], [TipoDoc]) VALUES (1004, N'CARNET EXT.')
INSERT [dbo].[TiposDocumento] ([IdTipoDoc], [TipoDoc]) VALUES (2, N'CDU')
INSERT [dbo].[TiposDocumento] ([IdTipoDoc], [TipoDoc]) VALUES (1, N'DNI')
SET IDENTITY_INSERT [dbo].[TiposDocumento] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposMovimientos] ON 

INSERT [dbo].[TiposMovimientos] ([IdTipoMovimiento], [TipoMovimiento]) VALUES (3, N'Cobro alquiler')
INSERT [dbo].[TiposMovimientos] ([IdTipoMovimiento], [TipoMovimiento]) VALUES (1, N'Pago Consulta')
INSERT [dbo].[TiposMovimientos] ([IdTipoMovimiento], [TipoMovimiento]) VALUES (2, N'Pago de Alquiler')
SET IDENTITY_INSERT [dbo].[TiposMovimientos] OFF
GO
SET IDENTITY_INSERT [dbo].[TipoUsuarios] ON 

INSERT [dbo].[TipoUsuarios] ([IdTipoUsuario], [Tipo Usuario]) VALUES (1, N'Administrador')
INSERT [dbo].[TipoUsuarios] ([IdTipoUsuario], [Tipo Usuario]) VALUES (2, N'Recepcion')
INSERT [dbo].[TipoUsuarios] ([IdTipoUsuario], [Tipo Usuario]) VALUES (3, N'Medico')
SET IDENTITY_INSERT [dbo].[TipoUsuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [IdMedico], [IdAdministrativo], [Nombre], [IdTipoUsuario], [Contraseña], [Bloqueo]) VALUES (5, NULL, NULL, N'Leonel', 1, 0x01000000B2A68BE8D7D5A5B21D6B04A2531B0E06837F5428E4F05B604841FC984E583F58, 0)
INSERT [dbo].[Usuarios] ([IdUsuario], [IdMedico], [IdAdministrativo], [Nombre], [IdTipoUsuario], [Contraseña], [Bloqueo]) VALUES (6, 25, NULL, N'Ale H', 3, 0x01000000D7562ECA5940E791841A8D2E3CA9DF9263F9BC233F4C1EE82BFD922E79FF5758, 0)
INSERT [dbo].[Usuarios] ([IdUsuario], [IdMedico], [IdAdministrativo], [Nombre], [IdTipoUsuario], [Contraseña], [Bloqueo]) VALUES (7, NULL, 1, N'Matias Q', 2, 0x0100000029C67808ECFD81A7872EAA1E8ED6A70058C9AC34737A03D4F43944794DD74469, 0)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
/****** Object:  Index [PK_Jornadas]    Script Date: 9/3/2025 1:55:45 AM ******/
ALTER TABLE [dbo].[Jornadas] ADD  CONSTRAINT [PK_Jornadas] PRIMARY KEY NONCLUSTERED 
(
	[IdJornada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Administrativos]  WITH CHECK ADD  CONSTRAINT [FK_Administrativos_Generos] FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Generos] ([IdGenero])
GO
ALTER TABLE [dbo].[Administrativos] CHECK CONSTRAINT [FK_Administrativos_Generos]
GO
ALTER TABLE [dbo].[Administrativos]  WITH CHECK ADD  CONSTRAINT [FK_Administrativos_Nacionalidades] FOREIGN KEY([IdNacionalidad])
REFERENCES [dbo].[Nacionalidades] ([IdNacionalidad])
GO
ALTER TABLE [dbo].[Administrativos] CHECK CONSTRAINT [FK_Administrativos_Nacionalidades]
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD  CONSTRAINT [FK_Consultas_ReservaTurnos] FOREIGN KEY([IdTurno])
REFERENCES [dbo].[ReservaTurnos] ([IdTurno])
GO
ALTER TABLE [dbo].[Consultas] CHECK CONSTRAINT [FK_Consultas_ReservaTurnos]
GO
ALTER TABLE [dbo].[DetalleConsultas]  WITH CHECK ADD  CONSTRAINT [FK_DetalleConsultas_Consultas] FOREIGN KEY([IdConsulta])
REFERENCES [dbo].[Consultas] ([IdConsulta])
GO
ALTER TABLE [dbo].[DetalleConsultas] CHECK CONSTRAINT [FK_DetalleConsultas_Consultas]
GO
ALTER TABLE [dbo].[Licencias]  WITH CHECK ADD  CONSTRAINT [FK_Licencias_Medicos] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medicos] ([IdMedico])
GO
ALTER TABLE [dbo].[Licencias] CHECK CONSTRAINT [FK_Licencias_Medicos]
GO
ALTER TABLE [dbo].[Licencias]  WITH CHECK ADD  CONSTRAINT [FK_Licencias_MotivosLicencias] FOREIGN KEY([IdMotivo])
REFERENCES [dbo].[MotivosLicencias] ([IdMotivo])
GO
ALTER TABLE [dbo].[Licencias] CHECK CONSTRAINT [FK_Licencias_MotivosLicencias]
GO
ALTER TABLE [dbo].[Localidades]  WITH CHECK ADD  CONSTRAINT [FK_Localidades_Provincias] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincias] ([IdProvincia])
GO
ALTER TABLE [dbo].[Localidades] CHECK CONSTRAINT [FK_Localidades_Provincias]
GO
ALTER TABLE [dbo].[Medico_Dias_Consultorios]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Dias_Consultorios_Consultorios] FOREIGN KEY([IdConsultorio])
REFERENCES [dbo].[Consultorios] ([IdConsultorio])
GO
ALTER TABLE [dbo].[Medico_Dias_Consultorios] CHECK CONSTRAINT [FK_Medico_Dias_Consultorios_Consultorios]
GO
ALTER TABLE [dbo].[Medico_Dias_Consultorios]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Dias_Consultorios_Dias] FOREIGN KEY([IdDia])
REFERENCES [dbo].[Dias] ([IdDia])
GO
ALTER TABLE [dbo].[Medico_Dias_Consultorios] CHECK CONSTRAINT [FK_Medico_Dias_Consultorios_Dias]
GO
ALTER TABLE [dbo].[Medico_Dias_Consultorios]  WITH CHECK ADD  CONSTRAINT [FK_Medico_Dias_Consultorios_Medicos_Especialidades] FOREIGN KEY([IdMedicoEspecialidad])
REFERENCES [dbo].[Medicos_Especialidades] ([IdMedicoEspecialidad])
GO
ALTER TABLE [dbo].[Medico_Dias_Consultorios] CHECK CONSTRAINT [FK_Medico_Dias_Consultorios_Medicos_Especialidades]
GO
ALTER TABLE [dbo].[Medicos]  WITH NOCHECK ADD  CONSTRAINT [FK_Medicos_CtasCtes] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[CtasCtesMedicos] ([IdCtaCte])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Medicos] NOCHECK CONSTRAINT [FK_Medicos_CtasCtes]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_Generos] FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Generos] ([IdGenero])
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_Medicos_Generos]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_Localidades] FOREIGN KEY([IdLocalidad])
REFERENCES [dbo].[Localidades] ([IdLocalidad])
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_Medicos_Localidades]
GO
ALTER TABLE [dbo].[Medicos]  WITH NOCHECK ADD  CONSTRAINT [FK_Medicos_Medicos_Obras] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[MedicosPlanes] ([IdMedicoPlan])
NOT FOR REPLICATION 
GO
ALTER TABLE [dbo].[Medicos] NOCHECK CONSTRAINT [FK_Medicos_Medicos_Obras]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_Nacionalidades] FOREIGN KEY([IdNacionalidad])
REFERENCES [dbo].[Nacionalidades] ([IdNacionalidad])
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_Medicos_Nacionalidades]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_Provincias] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincias] ([IdProvincia])
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_Medicos_Provincias]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_TiposDocumento] FOREIGN KEY([IdTipoDoc])
REFERENCES [dbo].[TiposDocumento] ([IdTipoDoc])
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [FK_Medicos_TiposDocumento]
GO
ALTER TABLE [dbo].[Medicos_Especialidades]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_Especialidades_Especialidades] FOREIGN KEY([IdEspecialidad])
REFERENCES [dbo].[Especialidades] ([IdEspecialidad])
GO
ALTER TABLE [dbo].[Medicos_Especialidades] CHECK CONSTRAINT [FK_Medicos_Especialidades_Especialidades]
GO
ALTER TABLE [dbo].[MedicosPlanes]  WITH CHECK ADD  CONSTRAINT [FK_Medicos_Obras_ObraSociales] FOREIGN KEY([IdObraSocial])
REFERENCES [dbo].[ObraSociales] ([IdObraSocial])
GO
ALTER TABLE [dbo].[MedicosPlanes] CHECK CONSTRAINT [FK_Medicos_Obras_ObraSociales]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK_Pacientes_Generos] FOREIGN KEY([IdGenero])
REFERENCES [dbo].[Generos] ([IdGenero])
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK_Pacientes_Generos]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK_Pacientes_Localidades] FOREIGN KEY([IdLocalidad])
REFERENCES [dbo].[Localidades] ([IdLocalidad])
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK_Pacientes_Localidades]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK_Pacientes_Nacionalidades] FOREIGN KEY([IdNacionalidad])
REFERENCES [dbo].[Nacionalidades] ([IdNacionalidad])
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK_Pacientes_Nacionalidades]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK_Pacientes_Provincias] FOREIGN KEY([IdProvincia])
REFERENCES [dbo].[Provincias] ([IdProvincia])
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK_Pacientes_Provincias]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK_Pacientes_TiposDocumento] FOREIGN KEY([IdTipoDoc])
REFERENCES [dbo].[TiposDocumento] ([IdTipoDoc])
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK_Pacientes_TiposDocumento]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [FK_Pacientes_TiposDocumento1] FOREIGN KEY([IdTipoDoc])
REFERENCES [dbo].[TiposDocumento] ([IdTipoDoc])
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [FK_Pacientes_TiposDocumento1]
GO
ALTER TABLE [dbo].[ReservaTurnos]  WITH CHECK ADD  CONSTRAINT [FK_ReservaTurnos_Consultorio] FOREIGN KEY([IdConsultorio])
REFERENCES [dbo].[Consultorios] ([IdConsultorio])
GO
ALTER TABLE [dbo].[ReservaTurnos] CHECK CONSTRAINT [FK_ReservaTurnos_Consultorio]
GO
ALTER TABLE [dbo].[ReservaTurnos]  WITH CHECK ADD  CONSTRAINT [FK_ReservaTurnos_Medicos_Especialidades] FOREIGN KEY([IdMedico])
REFERENCES [dbo].[Medicos] ([IdMedico])
GO
ALTER TABLE [dbo].[ReservaTurnos] CHECK CONSTRAINT [FK_ReservaTurnos_Medicos_Especialidades]
GO
ALTER TABLE [dbo].[ReservaTurnos]  WITH CHECK ADD  CONSTRAINT [FK_ReservaTurnos_Pacientes] FOREIGN KEY([IdPaciente])
REFERENCES [dbo].[Pacientes] ([IdPaciente])
GO
ALTER TABLE [dbo].[ReservaTurnos] CHECK CONSTRAINT [FK_ReservaTurnos_Pacientes]
GO
ALTER TABLE [dbo].[Dias]  WITH CHECK ADD  CONSTRAINT [CK_Dias] CHECK  (([Dia]='Domingo' OR [Dia]='Sabado' OR [Dia]='Viernes' OR [Dia]='Jueves' OR [Dia]='Miercoles' OR [Dia]='Martes' OR [Dia]='Lunes'))
GO
ALTER TABLE [dbo].[Dias] CHECK CONSTRAINT [CK_Dias]
GO
ALTER TABLE [dbo].[Medicos]  WITH CHECK ADD  CONSTRAINT [CK_Medicos_GrupoSanguineo] CHECK  (([GrupoSanguineo]='A+' OR [GrupoSanguineo]='A-' OR [GrupoSanguineo]='B+' OR [GrupoSanguineo]='B-' OR [GrupoSanguineo]='AB+' OR [GrupoSanguineo]='AB-' OR [GrupoSanguineo]='O+' OR [GrupoSanguineo]='O-'))
GO
ALTER TABLE [dbo].[Medicos] CHECK CONSTRAINT [CK_Medicos_GrupoSanguineo]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [CK_Pacientes_GS] CHECK  (([GrupoSanguineo]='A+' OR [GrupoSanguineo]='A-' OR [GrupoSanguineo]='B+' OR [GrupoSanguineo]='B-' OR [GrupoSanguineo]='AB+' OR [GrupoSanguineo]='AB-' OR [GrupoSanguineo]='O+' OR [GrupoSanguineo]='O-'))
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [CK_Pacientes_GS]
GO
/****** Object:  StoredProcedure [dbo].[AltaAdministrativo]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaAdministrativo] (@Apellido nvarchar(150), @Nombre nvarchar(150),@IdTipoDoc int,@NroDoc int,@IdGenero int,@IdNacionalidad int,
@FechaNac date,@TelefonoMovil nvarchar(50),@TelefonoFijo nvarchar(50),@Salario decimal(18,2),@FechaIngreso date,@IdObraSocial int,@IdPlan int,@NroAfiliado nvarchar(30),@Estado bit)
As
Begin
Insert into Administrativos(Apellido,Nombre,IdTipoDoc,NroDoc,IdGenero,IdNacionalidad,FechaNac,TelefonoMovil,TelefonoFijo,Salario,FechaIngreso,IdObraSocial,IdPlan,NroAfiliado,Estado) 
values (@Apellido,@Nombre,@IdTipoDoc,@NroDoc,@IdGenero,@IdNacionalidad,@FechaNac,@TelefonoMovil,@TelefonoFijo,@Salario,@FechaIngreso,@IdObraSocial,@IdPlan,@NroAfiliado,@Estado)
Select SCOPE_IDENTITY() as IdAdministrativo
End
GO
/****** Object:  StoredProcedure [dbo].[AltaConsultorio]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaConsultorio] ( @Consultorio nvarchar(30),@Estado bit,@Costo decimal(18,2))
As
Begin
Insert into Consultorios(Consultorio,Estado,CostoAlquiler) values (@Consultorio,@Estado,@Costo)
Select SCOPE_IDENTITY() as IdConsultorio
End
GO
/****** Object:  StoredProcedure [dbo].[AltaDia]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaDia] ( @Dia nvarchar(20))
As
Begin
Insert into Dias(Dia) values (@Dia)
Select SCOPE_IDENTITY() as IdDia
End
GO
/****** Object:  StoredProcedure [dbo].[AltaEspecialidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaEspecialidad] ( @Especialidad nvarchar(100))
As
Begin
Insert into Especialidades(Especialidad) values (@Especialidad)
Select SCOPE_IDENTITY() as IdEspecialidad
End
GO
/****** Object:  StoredProcedure [dbo].[AltaGenero]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaGenero] ( @Genero nvarchar(50))
As
Begin
Insert into Generos(Genero) values (@Genero)
Select SCOPE_IDENTITY() as IdGenero
End
GO
/****** Object:  StoredProcedure [dbo].[AltaLocalidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaLocalidad] (@IdProvincia int, @Localidad nvarchar(50))
As
Begin
Insert into Localidades (IdProvincia,Localidad) values (@IdProvincia,@Localidad)
SELECT SCOPE_IDENTITY() as IdLocalidad
End
GO
/****** Object:  StoredProcedure [dbo].[AltaMedico]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaMedico] (@Apellido nvarchar(150), @Nombre nvarchar(150),@IdTipoDoc int,@NroDoc int,@IdGenero int,@IdNacionalidad int,@IdProvincia int,@IdLocalidad int,
@GrupoSanguineo nchar(10),@Direccion nvarchar(200),@FechaNac date,@TelefonoMovil nvarchar(50),@TelefonoFijo nvarchar(50),@IdObraSocial int,@IdPlan int,@NroAfiliado nvarchar(30),@Estado bit)
As
Begin
Insert into Medicos(Apellido,Nombre,IdTipoDoc,NroDoc,IdGenero,IdNacionalidad,IdProvincia,IdLocalidad,GrupoSanguineo,Direccion,FechaNac,TelefonoMovil,TelefonoFijo,IdObraSocial,IdPlan,NroAfiliado,Estado) 
values (@Apellido,@Nombre,@IdTipoDoc,@NroDoc,@IdGenero,@IdNacionalidad,@IdProvincia,@IdLocalidad,@GrupoSanguineo,@Direccion,@FechaNac,@TelefonoMovil,@TelefonoFijo,@IdObraSocial,@IdPlan,@NroAfiliado,@Estado)
Select SCOPE_IDENTITY() as IdMedico
End
GO
/****** Object:  StoredProcedure [dbo].[AltaNacionalidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaNacionalidad] ( @Nacionalidad nvarchar(100))
As
Begin
Insert into Nacionalidades (Nacionalidad) values (@Nacionalidad)
Select SCOPE_IDENTITY() as IdNacionalidad
End
GO
/****** Object:  StoredProcedure [dbo].[AltaObraPlan]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaObraPlan] (@IdObraSocial int, @IdPlan int,@Cobertura decimal (18,2))
As
Begin
Insert into ObrasPlanes(IdObraSocial,IdPlan,Cobertura) values (@IdObraSocial,@IdPlan,@Cobertura)
Select SCOPE_IDENTITY() as IdObraPlan
End
GO
/****** Object:  StoredProcedure [dbo].[AltaObraSocial]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaObraSocial] ( @ObraSocial nvarchar(50))
As
Begin
Insert into ObraSociales(ObraSocial) values (@ObraSocial)
Select SCOPE_IDENTITY() as IdObraSocial
End
GO
/****** Object:  StoredProcedure [dbo].[AltaPaciente]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaPaciente] (@Apellido nvarchar(150), @Nombre nvarchar(150),@IdTipoDoc int,@NroDoc int,
@IdGenero int,@IdNacionalidad int,@IdProvincia int,@IdLocalidad int,
@GrupoSanguineo nchar(10),@Direccion nvarchar(200),@FechaNac date,@TelefonoMovil nvarchar(50),
@TelefonoFijo nvarchar(50),@IdObraSocial int,@IdPlan int,@NroAfiliado nvarchar(30))
As
Begin
Insert into Pacientes (Apellido,Nombre,IdTipoDoc,NroDoc,IdGenero,IdNacionalidad,IdProvincia,IdLocalidad,GrupoSanguineo,Direccion,FechaNac,TelefonoMovil,TelefonoFijo,IdObraSocial,IdPlan,NroAfiliado) 
values (@Apellido,@Nombre,@IdTipoDoc,@NroDoc,@IdGenero,@IdNacionalidad,@IdProvincia,@IdLocalidad,@GrupoSanguineo,@Direccion,@FechaNac,@TelefonoMovil,@TelefonoFijo,@IdObraSocial,@IdPlan,@NroAfiliado)
Select SCOPE_IDENTITY() as Idpaciente
End
GO
/****** Object:  StoredProcedure [dbo].[AltaPlan]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaPlan] ( @IdObraSocial int,@Plan nvarchar(50),@Cobertura decimal(18,2) )
As
Begin
Insert into Planes(IdObraSocial,Nombre,Cobertura) values (@IdObraSocial,@Plan,@Cobertura)
Select SCOPE_IDENTITY() as IdPlan
End
GO
/****** Object:  StoredProcedure [dbo].[AltaProvincia]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[AltaProvincia](@Provincia  nvarchar(100))
as
begin
Insert Into Provincias (Provincia) Values (@Provincia)
Select SCOPE_IDENTITY() as IdProvincia
end
GO
/****** Object:  StoredProcedure [dbo].[AltaTipoDoc]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[AltaTipoDoc](@TipoDoc  nvarchar(50))
as
begin
Insert Into TiposDocumento (TipoDoc) Values (@TipoDoc)
Select SCOPE_IDENTITY() as IdTipoDoc
end
GO
/****** Object:  StoredProcedure [dbo].[AltaTipoMov]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[AltaTipoMov] ( @TipoMov nvarchar(50))
As
Begin
Insert into TiposMovimientos(TipoMovimiento) values (@TipoMov)
Select SCOPE_IDENTITY() as IdTipoMovimiento
End
GO
/****** Object:  StoredProcedure [dbo].[BajaAdministrativo]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaAdministrativo] (@IdAdministrativo  int)
As
Begin
DELETE FROM Administrativos where IdAdministrativo=@IdAdministrativo 
end
GO
/****** Object:  StoredProcedure [dbo].[BajaConsultorio]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaConsultorio] (@IdConsultorio  int)
As
Begin
DELETE FROM Consultorios where IdConsultorio=@IdConsultorio
end
GO
/****** Object:  StoredProcedure [dbo].[BajaDia]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaDia] (@IdDia  int)
As
Begin
DELETE FROM Dias where IdDia=@IdDia
end
GO
/****** Object:  StoredProcedure [dbo].[BajaEspecialidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaEspecialidad] (@IdEspecialidad  int)
As
Begin
DELETE FROM Especialidades where IdEspecialidad=@IdEspecialidad
end
GO
/****** Object:  StoredProcedure [dbo].[BajaGenero]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaGenero] (@IdGenero  int)
As
Begin
DELETE FROM Generos where IdGenero=@IdGenero
end
GO
/****** Object:  StoredProcedure [dbo].[BajaLocalidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaLocalidad] (@IdLocalidad int)
As
Begin
DELETE From Localidades where IdLocalidad=@IdLocalidad
End
GO
/****** Object:  StoredProcedure [dbo].[BajaMedico]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaMedico] (@IdMedico  int)
As
Begin
DELETE FROM Medicos where IdMedico=@IdMedico
end
GO
/****** Object:  StoredProcedure [dbo].[BajaNacionalidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaNacionalidad] (@IdNacionalidad  int)
As
Begin
DELETE FROM Nacionalidades where IdNacionalidad=@IdNacionalidad
End 
GO
/****** Object:  StoredProcedure [dbo].[BajaObraPlan]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaObraPlan] (@IdObraPlan  int)
As
Begin
DELETE FROM ObrasPlanes where IdObraPlan=@IdObraPlan 
end
GO
/****** Object:  StoredProcedure [dbo].[BajaObraSocial]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaObraSocial] (@IdObraSocial  int)
As
Begin
DELETE FROM ObraSociales where IdObraSocial=@IdObraSocial 
end
GO
/****** Object:  StoredProcedure [dbo].[BajaPlan]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaPlan] (@IdPlan  int)
As
Begin
DELETE FROM Planes where IdPlan=@IdPlan 
end

GO
/****** Object:  StoredProcedure [dbo].[BajaProvincia]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[BajaProvincia](@IdProvincia int )
as
begin 
Delete From Provincias where IdProvincia=@IdProvincia
end 
GO
/****** Object:  StoredProcedure [dbo].[BajaTipoDoc]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[BajaTipoDoc](@IdTipoDoc int )
as
begin 
Delete From TiposDocumento where IdTipoDoc=@IdTipoDoc
end 

GO
/****** Object:  StoredProcedure [dbo].[BajaTipoMov]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[BajaTipoMov] (@IdTipoMov  int)
As
Begin
DELETE FROM TiposMovimientos where IdTipoMovimiento=@IdTipoMov
end
GO
/****** Object:  StoredProcedure [dbo].[EditarAdministrativo]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarAdministrativo] (@IdAdministrativo int ,@Apellido nvarchar(150), @Nombre nvarchar(150),@IdTipoDoc int,@NroDoc int,@IdGenero int,@IdNacionalidad int,
@FechaNac date,@TelefonoMovil nvarchar(50),@TelefonoFijo nvarchar(50),@Salario decimal(18,2),@FechaIngreso date,@IdObraPlan int,@NroAfiliado nvarchar(30),@Estado bit)
As
Begin
Update Administrativos set Apellido=@Apellido,Nombre=@Nombre,IdTipoDoc=@IdTipoDoc,NroDoc=@NroDoc,
IdGenero=@IdGenero,IdNacionalidad=@IdNacionalidad,FechaNac=@FechaNac,
TelefonoMovil=@TelefonoMovil,TelefonoFijo=@TelefonoFijo,Salario=@Salario,FechaIngreso=@FechaIngreso,
IdObraPlan=@IdObraPlan,NroAfiliado=@NroAfiliado,Estado=@Estado 
where  IdAdministrativo=@IdAdministrativo
End
GO
/****** Object:  StoredProcedure [dbo].[EditarConsultorio]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarConsultorio] (@IdConsultorio int, @Consultorio nvarchar(30),@Costo decimal(18,2),@Estado bit)
As
Begin
UPDATE Consultorios SET Consultorio=@Consultorio,CostoAlquiler=@Costo,Estado=@Estado
Where IdConsultorio=@IdConsultorio
End
GO
/****** Object:  StoredProcedure [dbo].[EditarDia]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarDia] (@IdDia int, @Dia nvarchar(20))
As
Begin
UPDATE Dias SET Dia=@Dia
Where IdDia=@IdDia
End
GO
/****** Object:  StoredProcedure [dbo].[EditarEspecialidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create  Proc [dbo].[EditarEspecialidad] (@IdEspecialidad int, @Especialidad nvarchar(100))
As
Begin
Update Especialidades set Especialidad=@Especialidad Where IdEspecialidad=@IdEspecialidad
End
GO
/****** Object:  StoredProcedure [dbo].[EditarGenero]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarGenero] (@IdGenero int, @Genero nvarchar(50))
As
Begin
UPDATE Generos SET Genero=@Genero
Where IdGenero=@IdGenero
End
GO
/****** Object:  StoredProcedure [dbo].[EditarLocalidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarLocalidad] (@IdLocalidad int,@IdProvincia int, @Localidad nvarchar(50))
As
Begin
UPDATE Localidades SET  IdProvincia=@IdProvincia, Localidad=@Localidad Where IdLocalidad=@IdLocalidad
End 
GO
/****** Object:  StoredProcedure [dbo].[EditarMedico]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarMedico] (@IdMedico int,@Apellido nvarchar(150), @Nombre nvarchar(150),@IdTipoDoc int,@NroDoc int,@IdGenero int,@IdNacionalidad int,@IdProvincia int,@IdLocalidad int,
@GrupoSanguineo nchar(10),@Direccion nvarchar(200),@FechaNac date,@TelefonoMovil nvarchar(50),@TelefonoFijo nvarchar(50),@IdObraSocial int,@IdPlan int,@NroAfiliado nvarchar(30),@Estado bit)
As
Begin
Update Medicos set Apellido=@Apellido,Nombre=@Nombre,IdTipoDoc=@IdTipoDoc,NroDoc=@NroDoc,
IdGenero=@IdGenero,IdNacionalidad=@IdNacionalidad,IdProvincia=@IdProvincia,IdLocalidad=@IdLocalidad,GrupoSanguineo=@GrupoSanguineo,Direccion=@Direccion,FechaNac=@FechaNac,
TelefonoMovil=@TelefonoMovil,TelefonoFijo=@TelefonoFijo,
IdObraSocial=@IdObraSocial, IdPlan=@IdPlan,NroAfiliado= @NroAfiliado,Estado=@Estado 
where  IdMedico=@IdMedico
End
GO
/****** Object:  StoredProcedure [dbo].[EditarNacionalidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarNacionalidad] (@IdNacionalidad int, @Nacionalidad nvarchar(100))
As
Begin
UPDATE Nacionalidades SET Nacionalidad=@Nacionalidad
Where IdNacionalidad=@IdNacionalidad
End
GO
/****** Object:  StoredProcedure [dbo].[EditarObraPlan]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarObraPlan] (@IdObraPlan int,@IdObraSocial int,@IdPlan int, @Cobertura decimal(18,2))
As
Begin
UPDATE ObrasPlanes SET @IdObraSocial=@IdObraSocial,IdPlan=@IdPlan,Cobertura=@Cobertura
Where IdObraPlan=@IdObraPlan
End
GO
/****** Object:  StoredProcedure [dbo].[EditarObraSocial]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarObraSocial] (@IdObraSocial int, @ObraSocial nvarchar(50))
As
Begin
UPDATE ObraSociales SET ObraSocial=@ObraSocial
Where IdObraSocial=@IdObraSocial
End
GO
/****** Object:  StoredProcedure [dbo].[EditarPaciente]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarPaciente] (@IdPaciente int,@Apellido nvarchar(150), @Nombre nvarchar(150),@IdTipoDoc int,@NroDoc int,@IdGenero int,@IdNacionalidad int,@IdProvincia int,@IdLocalidad int,
@GrupoSanguineo nchar(10),@Direccion nvarchar(200),@FechaNac date,@TelefonoMovil nvarchar(50),@TelefonoFijo nvarchar(50),@IdObraSocial int,@IdPlan int,@NroAfiliado nvarchar(30))
As
Begin
Update Pacientes set Apellido=@Apellido,Nombre=@Nombre,IdTipoDoc=@IdTipoDoc,NroDoc=@NroDoc,
IdGenero=@IdGenero,IdNacionalidad=@IdNacionalidad,IdProvincia=@IdProvincia,IdLocalidad=@IdLocalidad,GrupoSanguineo=@GrupoSanguineo,Direccion=@Direccion,FechaNac=@FechaNac,
TelefonoMovil=@TelefonoMovil,TelefonoFijo=@TelefonoFijo,
IdObraSocial=@IdObraSocial, IdPlan=@IdPlan,NroAfiliado= @NroAfiliado
where  IdPaciente=@IdPaciente
End
GO
/****** Object:  StoredProcedure [dbo].[EditarPlan]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarPlan] (@IdPlan int, @IdObraSocial int , @Plan nvarchar(50),@Cobertura decimal(18,2))
As
Begin
UPDATE Planes SET IdObraSocial=@IdObraSocial, Nombre=@Plan,Cobertura=@Cobertura
Where IdPlan=@IdPlan
End
GO
/****** Object:  StoredProcedure [dbo].[EditarProvincia]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[EditarProvincia](@IdProvincia as int, @Provincia as nvarchar(100))
as
begin 
 Update  Provincias Set Provincia=@Provincia
 where IdProvincia=@IdProvincia
 end
GO
/****** Object:  StoredProcedure [dbo].[EditarTipoDoc]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[EditarTipoDoc](@IdTipoDoc as int, @TipoDoc as nvarchar(50))
as
begin 
 Update  TiposDocumento Set TipoDoc=@TipoDoc
 where IdTipoDoc=@IdTipoDoc
 end

GO
/****** Object:  StoredProcedure [dbo].[EditarTipoMov]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[EditarTipoMov] (@IdTipoMov int, @TipoMov nvarchar(50))
As
Begin
UPDATE TiposMovimientos SET TipoMovimiento=@TipoMov
Where IdTipoMovimiento=@IdTipoMov
End
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregaPagoEnCta]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_AgregaPagoEnCta] (@IdMedico as int, @IdAlquilerConsultorio as int, @Fecha as date, 
                                  @Debe as money, @Haber as money, @IdTurno as int, @Liquidado as bit)
As 
begin

INSERT INTO CtasCtesMedicos(IdMedico,IdAlquilerConsultorio, FechaMovimiento, Debe, Haber, IdTurno, Liquidado)
             VALUES(@IdMedico, @IdAlquilerConsultorio, @Fecha, @Debe, @Haber, @IdTurno, @Liquidado)
SELECT SCOPE_IDENTITY() AS IdCtaCte
End
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarCaja]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_AgregarCaja](@IdCta as int,@Fecha as Date, @Debe decimal(18,2),@Haber decimal(18,2))
as
begin
insert into Caja (IdCtaCta,Fecha,Debe,Haber) values(@IdCta,@Fecha,@Debe,@Haber)
select SCOPE_IDENTITY() as IdCaja

end
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarConsulta]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_AgregarConsulta](@IdTurno int,@Sintomas varchar(550),@Diagnostico varchar(550),@Medicacion varchar(200),@Observaciones varchar(500))
as 
begin

insert into Consultas (IdTurno,Sintomas,Diagnostico,Medicacion,Observaciones)
       values (@IdTurno,@Sintomas,@Diagnostico,@Medicacion,@Observaciones)
select SCOPE_IDENTITY() as IdConsulta
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_AgregarMedicoPlanes]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_AgregarMedicoPlanes] (@IdMedicoEspecialidad int,@IdObraSocial int,@IdPlan int)
as 
Begin
insert into MedicosPlanes (IdMedicoEspecialidad,IdObraSocial,IdPlan) values (@IdMedicoEspecialidad,@IdObraSocial,@IdPlan)
Select SCOPE_IDENTITY()as IdMedicoPlan
End
GO
/****** Object:  StoredProcedure [dbo].[Sp_AgregarPacienteAlturno]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_AgregarPacienteAlturno](@IdTurno int,@IdPaciente int)
   as
    Begin

	Update ReservaTurnos set IdPaciente=@IdPaciente where IdTurno=@IdTurno
    End
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarTipoUsuario]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_AgregarTipoUsuario](@TipoUsuario nvarchar(50))
as
begin
insert into TipoUsuarios ([Tipo Usuario]) values (@TipoUsuario)
Select SCOPE_IDENTITY() as IdTipoUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[SP_AgregarUsuario]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_AgregarUsuario](@IdMedico int,@IdAdministrativo int,@Nombre varchar(50),@IdTipoUsuario int,@Contraseña varchar(max),@Bloqueo bit)
as
begin

  insert into Usuarios (IdMedico,IdAdministrativo,Nombre,IdTipoUsuario,Contraseña,Bloqueo)
            values (@IdMedico,@IdAdministrativo,@Nombre,@IdTipoUsuario,ENCRYPTBYPASSPHRASE('password',@Contraseña),@Bloqueo)
  select SCOPE_IDENTITY() as IdUsuario

end
GO
/****** Object:  StoredProcedure [dbo].[Sp_AltaAlquilerConsultorio]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_AltaAlquilerConsultorio] (@Idconsultorio int,@IdMedico int,@IdMedicoEspecialidad int,@IdJornada int,@FechaIni date,@FechaFin date)
as
begin
insert into AlquilerConsulTorio (IdConsultorio,IdMedico,IdMedicoEspecialidad,IdJornada,FechaInicio,FechaFin)
           values (@Idconsultorio,@IdMedico,@IdMedicoEspecialidad,@IdJornada,@FechaIni,@FechaFin)
		   select SCOPE_IDENTITY() as IdAlquilerConsultorio
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_AltaJornada]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_AltaJornada](@Nombre nvarchar(50),@Costo Decimal(18,2))
as
begin
insert into Jornadas (Nombre,Costo) values (@Nombre,@Costo)
Select SCOPE_IDENTITY()as IdJornada
 end
GO
/****** Object:  StoredProcedure [dbo].[SP_AltaLiquidacion]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_AltaLiquidacion](@IdMedico as int, @Fecha as date,@Consul decimal(18,2))
as
Begin

UPDATE CtasCtesMedicos
SET  Haber= @Consul,Liquidado = 1, FechaLiquidacion = GETDATE()
WHERE IdMedico = @IdMedico and FechaMovimiento = @Fecha
End
GO
/****** Object:  StoredProcedure [dbo].[Sp_AltaMedico_Especialidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_AltaMedico_Especialidad] (@IdMedico int,@IdEspecialidad int,@Matricula nvarchar(100),@Costo decimal(18,2))
as
begin
insert into Medicos_Especialidades values (@IdMedico,@IdEspecialidad,@Matricula,@Costo)
select SCOPE_IDENTITY() as IdMedicoEspecialidad 
end


GO
/****** Object:  StoredProcedure [dbo].[Sp_BajaMedico_Especialidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_BajaMedico_Especialidad] (@IdMedicoEspecialidad int)
as
begin
delete from Medicos_Especialidades where IdMedicoEspecialidad=@IdMedicoEspecialidad
end
GO
/****** Object:  StoredProcedure [dbo].[SP_BloquearUsuario]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_BloquearUsuario](@IdUsuario int,@Bloqueo bit)
as
begin

 update Usuarios
  set 
	  Bloqueo=@Bloqueo
   where IdUsuario=@IdUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_BorrarMedicoPlanes]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_BorrarMedicoPlanes] (@IdMedicoPlan int)
as 
Begin
delete from MedicosPlanes where IdMedicoPlan=@IdMedicoPlan

End
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscaAlquilerConsultorio1]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_BuscaAlquilerConsultorio1](@IdAlquilerConsultorio as int)
AS
BEGIN
SELECT * FROM AlquilerConsultorio WHERE IdAlquilerConsultorio = @IdAlquilerConsultorio
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_BuscarAlquilerConsultorio]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_BuscarAlquilerConsultorio] (@IdConsultorio as int,@IdMedico int,@IdJornada int ,@fecha date)
as
Begin
Select Top 1 * from AlquilerConsultorio
where IdConsultorio=@IdConsultorio And IdMedico=@IdMedico and IdJornada=@IdJornada and FechaInicio=cast(@fecha as date)
End
GO
/****** Object:  StoredProcedure [dbo].[SP_BuscarPacientePorDni]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  create proc [dbo].[SP_BuscarPacientePorDni](@Dni int)
   as
    begin
	 
	 select * from Pacientes where NroDoc=@Dni
	 end

  
GO
/****** Object:  StoredProcedure [dbo].[Sp_BuscarTurno]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_BuscarTurno](@IdTurno int)
	as
	 begin

	 Select  IdTurno,Descripcion,Fecha,Cast(Hora as varchar(9)) as Hora,IdMedico,IdMedicoEspecialidad,IdPaciente,
	 IdConsultorio,Estado,Costo,Presente
	 from ReservaTurnos
	 where IdTurno=@IdTurno
	 end
GO
/****** Object:  StoredProcedure [dbo].[Sp_EditarMedico_Especialidad]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_EditarMedico_Especialidad] (@IdMedicoEspecialidad int,@IdEspecialidad int,@IdMedico int,@Matricula nvarchar(100),@Costo decimal(18,2))
as
begin
update Medicos_Especialidades set IdEspecialidad=@IdEspecialidad,IdMedico=@IdMedico,Matricula=@Matricula,CostoConsulta=@Costo
   where IdMedicoEspecialidad=@IdMedicoEspecialidad
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_EditarMedicoPlanes]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_EditarMedicoPlanes] (@IdMedicoPlan int,@IdMedicoEspecialidad int,@IdObraSocial int ,@IdPlan int)
as 
Begin
update MedicosPlanes set IdMedicoEspecialidad=@IdMedicoEspecialidad,IdObraSocial=@IdObraSocial,IdPlan=@IdPlan where IdMedicoPlan=@IdMedicoPlan

End
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarTipoUsuario]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_EditarTipoUsuario](@IdTipoUsuario int,@TipoUsuario nvarchar(50))
as
begin
update TipoUsuarios set [Tipo Usuario]=@TipoUsuario where IdTipoUsuario=@IdTipoUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[SP_EditarUsuario]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_EditarUsuario](@IdUsuario int,@IdMedico int,@IdAdministrativo int,@Nombre varchar(50),@IdTipoUsuario int,@Contraseña varchar(max),@Bloqueo bit)
as
begin

 update Usuarios
  set IdMedico=@IdMedico,
      IdAdministrativo=@IdAdministrativo,
      Nombre=@Nombre,
	  IdTipoUsuario=@IdTipoUsuario,
	  Contraseña=ENCRYPTBYPASSPHRASE('password',@Contraseña),
	  Bloqueo=@Bloqueo
   where IdUsuario=@IdUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[SP_EditaTurnoPresenteYCobro]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_EditaTurnoPresenteYCobro](@Idturno AS INT, @Presente as bit, @Cobro as money = null)
	as
	 begin
	 UPDATE ReservaTurnos SET Presente = @Presente, Costo = @Cobro WHERE Idturno = @Idturno

	 End
GO
/****** Object:  StoredProcedure [dbo].[SP_EliminarTipoUsuario]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_EliminarTipoUsuario] (@IdTipoUsuario int)
as
begin
delete from TipoUsuarios where IdTipoUsuario=@IdTipoUsuario
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_GeneraTurnoPorDia]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_GeneraTurnoPorDia](@Fecha date ,@IdMedico int,@IdMedicoEspecialidad int,@Hora time,@IdPaciente int=null,@IdConsultorio int,
                                     @Estado bit,@Presente bit,@Costo decimal(18,2)=0,@IdJornada int,@IdAlquilerConsultorio int)
as 
BEGIN

declare @Desc varchar(50),@Contador int= 1,@SegTurno time ='16:00:00.0000000',@SegundoTurno varchar(50)
 
  If @IdJornada=2
    While (@Contador<9)
	 Begin
	
	    	set @Desc='Dia'+ ' ' +  cast(DateName(day,@Fecha) as nvarchar) + ' ' + 'hora' + ' ' + cast(@Hora as varchar(8))

		insert into ReservaTurnos (Descripcion,Fecha,Hora,IdMedico,IdMedicoEspecialidad,IdPaciente,IdConsultorio,Estado,Costo,Presente,IdAlquilerConsultorio) 
		   values (@Desc,@Fecha,@Hora,@IdMedico,@IdMedicoEspecialidad,@IdPaciente,@IdConsultorio,@Estado,@Costo,@Presente,@IdAlquilerConsultorio)

		   Set @Hora=DateAdd(minute,30,@Hora)
            set @Contador=@Contador+1
	  End
  else   If @IdJornada=3
   
    While (@Contador<9)
	 Begin
	    	set @Desc='Dia'+ ' ' +  cast(DateName(day,@Fecha) as nvarchar) + ' ' + 'hora' + ' ' + cast(@Hora as varchar(8))

		insert into ReservaTurnos (Descripcion,Fecha,Hora,IdMedico,IdMedicoEspecialidad,IdPaciente,IdConsultorio,Estado,Costo,Presente,IdAlquilerConsultorio) 
		   values (@Desc,@Fecha,@Hora,@IdMedico,@IdMedicoEspecialidad,@IdPaciente,@IdConsultorio,@Estado,@Costo,@Presente,@IdAlquilerConsultorio)

		   Set @Hora=DateAdd(minute,30,@Hora)
            set @Contador=@Contador+1
	  End

	  else   If @IdJornada=1

    While (@Contador<9)
	 Begin
		
	    	set @Desc='Dia'+ ' ' +  cast(DateName(day,@Fecha) as nvarchar) + ' ' + 'hora' + ' ' + cast(@Hora as varchar(8))

		insert into ReservaTurnos (Descripcion,Fecha,Hora,IdMedico,IdMedicoEspecialidad,IdPaciente,IdConsultorio,Estado,Costo,Presente,IdAlquilerConsultorio) 
		   values (@Desc,@Fecha,@Hora,@IdMedico,@IdMedicoEspecialidad,@IdPaciente,@IdConsultorio,@Estado,@Costo,@Presente,@IdAlquilerConsultorio)

		   Set @Hora=DateAdd(minute,30,@Hora)

		 	    	set @SegundoTurno='Dia'+ ' ' +  cast(DateName(day,@Fecha) as nvarchar) + ' ' + 'hora' + ' ' + cast(@SegTurno as varchar(8))

		   insert into ReservaTurnos (Descripcion,Fecha,Hora,IdMedico,IdMedicoEspecialidad,IdPaciente,IdConsultorio,Estado,Costo,Presente,IdAlquilerConsultorio) 
		   values (@SegundoTurno,@Fecha,@SegTurno,@IdMedico,@IdMedicoEspecialidad,@IdPaciente,@IdConsultorio,@Estado,@Costo,@Presente,@IdAlquilerConsultorio)
            
			set @SegTurno= dateAdd(minute,30,@SegTurno)

			set @Contador=@Contador+1
	  End

END
GO
/****** Object:  StoredProcedure [dbo].[Sp_ListaAlquileres]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Sp_ListaAlquileres] 
as
begin
Select * From AlquilerConsultorio
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ListaCtaCtePorMedicoYFecha]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ListaCtaCtePorMedicoYFecha](@IdMedico int)
as
begin
Select * from CtasCtesMedicos where IdMedico=@IdMedico
order by FechaMovimiento asc --and FechaMovimiento =@Fecha
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ListaHistoriaClinica]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ListaHistoriaClinica](@IdPaciente int)
as
begin
select c.IdConsulta,rt.IdTurno,Sintomas,Diagnostico,Medicacion,Observaciones 
from Consultas c inner join ReservaTurnos rt on c.IdTurno=rt.IdTurno
where rt.IdPaciente= @IdPaciente 
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_ListaPacientePorDNI]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_ListaPacientePorDNI] (@Dni varchar(20))
as
begin
select * From Pacientes where NroDoc like @Dni order by Apellido,Nombre 
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ListaPorMedicos]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ListaPorMedicos](@IdMedico int)
as
Begin

Select * from Medicos_Especialidades Where IdMedico=@IdMedico
End
GO
/****** Object:  StoredProcedure [dbo].[SP_ListaTurnosPorMedico]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ListaTurnosPorMedico] (@IdMedico int,@IdMedicoEspecialidad int )
as
 Begin
  Select  ac.IdAlquilerConsultorio,m.IdMedico,ac.IdConsultorio,Descripcion,IdTurno,p.IdPaciente,--ac.IdAlquilerConsultorio,
  Fecha,Cast(Hora as varchar(6)) as Hora,rt.Estado,Costo,Presente 
  From ReservaTurnos rt join AlquilerConsultorio ac on rt.IdMedico=ac.IdMedico  --and ac.IdAlquilerConsultorio=rt.IdAlquilerConsultorio
            inner join Consultorios c on c.IdConsultorio=ac.IdConsultorio
			inner join Medicos m on m.IdMedico=rt.IdMedico 
			inner join Medicos_Especialidades me on me.IdMedicoEspecialidad= rt.IdMedicoEspecialidad 
			left join Pacientes p on rt.IdPaciente=p.IdPaciente
 where Fecha>= Cast(GETDATE() as Date)  And rt.IdMedico=@IdMedico and rt.IdMedicoEspecialidad=@IdMedicoEspecialidad
 order by Fecha,Hora
 end 
GO
/****** Object:  StoredProcedure [dbo].[Sp_ListaTurnosPorMedicoYFecha]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE proc [dbo].[Sp_ListaTurnosPorMedicoYFecha](@IdMedico int,@IdMedicoEspecialidad int,@Fecha date)
 as
   begin
  Select m.IdMedico,ac.IdConsultorio,Descripcion,IdTurno,p.IdPaciente,ac.IdAlquilerConsultorio,Cast(Hora as varchar(20)) as Hora,
  rt.Estado,Costo,Presente 
  
  From ReservaTurnos rt 
           inner join AlquilerConsultorio ac on rt.IdMedico=ac.IdMedico -- and ac.IdAlquilerConsultorio=rt.IdAlquilerConsultorio
           inner join Consultorios c on c.IdConsultorio=ac.IdConsultorio
		   inner join Medicos m on m.IdMedico = rt.IdMedico
		   inner join Medicos_Especialidades me on me.IdMedicoEspecialidad=rt.IdMedicoEspecialidad
		   left join Pacientes p on rt.IdPaciente=p.IdPaciente
 Where Fecha=@Fecha and rt.IdMedico=@Idmedico And rt.IdMedicoEspecialidad = @IdMedicoEspecialidad
 order by Fecha,Hora

   end
GO
/****** Object:  StoredProcedure [dbo].[SP_LoginUsuario]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_LoginUsuario](@Nombre as varchar(max),@Contraseña varchar(max))
as
begin
select IdUsuario,IdMedico,IdAdministrativo,Nombre,IdTipoUsuario,convert(varchar(max),DECRYPTBYPASSPHRASE('password',Contraseña)) as Contraseña,Bloqueo from Usuarios
where Nombre=@Nombre and convert(varchar(max),DECRYPTBYPASSPHRASE('password',Contraseña))=@Contraseña
end
GO
/****** Object:  StoredProcedure [dbo].[Sp_QuitarPacienteDelTurno]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_QuitarPacienteDelTurno](@Idturno int)
	as 
	begin
	Update ReservaTurnos set IdPaciente=null where IdTurno=@Idturno
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteALquiler]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ReporteALquiler](@IdAlquiler int)
as
begin

Select c.Consultorio, m.Nombre+space(1)+m.Apellido as Medico,e.Especialidad,j.Nombre as [Horario],
         FechaInicio,FechaFin,DATEDIFF(day,FechaInicio,FechaFin)as Dias
from AlquilerConsultorio ac inner join Medicos m on m.IdMedico=ac.IdMedico
                            inner join Medicos_Especialidades me on me.IdMedicoEspecialidad=ac.IdMedicoEspecialidad and me.IdMedico=m.IdMedico
							inner join Especialidades e on me.IdEspecialidad=e.IdEspecialidad
							inner join Jornadas j on j.IdJornada=ac.IdJornada 
							inner join Consultorios c on c.IdConsultorio=ac.IdConsultorio
Where IdAlquilerConsultorio=@IdAlquiler

end
GO
/****** Object:  StoredProcedure [dbo].[Sp_ReporteConsulta]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	create proc [dbo].[Sp_ReporteConsulta](@Idturno int)
	as
	begin
	
	select  m.Apellido+space(1)+m.Nombre as Medico,cast(Fecha as date) as FechaConsulta,
	        p.Nombre+space(1)+p.Apellido as Paciente, dbo.FC_CalcularEdad(p.FechaNac)as Edad,
			p.NroDoc,os.ObraSocial,pl.Nombre,c.Sintomas,c.Diagnostico,c.Medicacion,c.Observaciones
	from Consultas c inner join ReservaTurnos rt on c.IdTurno=rt.IdTurno
	                 inner join Pacientes p on rt.IdPaciente=p.IdPaciente
					 inner join Planes pl on pl.IdPlan=p.IdPlan inner join ObraSociales os on os.IdObraSocial=pl.IdObraSocial				 
					 inner join Medicos m on m.IdMedico=rt.IdMedico
                     inner Join Medicos_Especialidades me on me.IdMedicoEspecialidad = rt.IdMedicoEspecialidad
				     inner join Especialidades e on e.IdEspecialidad=me.IdEspecialidad 
	 Where rt.IdTurno=@Idturno

	end
GO
/****** Object:  StoredProcedure [dbo].[Sp_ReporteConsultaPorIdConsulta]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[Sp_ReporteConsultaPorIdConsulta](@IdConsulta int)
	as
	begin
		select m.Apellido+space(1)+m.Nombre as Medico,cast(Fecha as date) as FechaConsulta,
	        p.Nombre+space(1)+p.Apellido as Paciente, dbo.FC_CalcularEdad(p.FechaNac)as Edad,
			p.NroDoc,os.ObraSocial,pl.Nombre,c.Sintomas,c.Diagnostico,c.Medicacion,c.Observaciones
	from Consultas c inner join ReservaTurnos rt on c.IdTurno=rt.IdTurno
	                 inner join Pacientes p on rt.IdPaciente=p.IdPaciente
					 inner join Planes pl on pl.IdPlan=p.IdPlan inner join ObraSociales os on os.IdObraSocial=pl.IdObraSocial				 
					 inner join Medicos m on m.IdMedico=rt.IdMedico
                     inner Join Medicos_Especialidades me on me.IdMedicoEspecialidad = rt.IdMedicoEspecialidad
				     inner join Especialidades e on e.IdEspecialidad=me.IdEspecialidad 
	 Where IdConsulta=@IdConsulta
	 end
GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteTurnoIndividual]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_ReporteTurnoIndividual] (@IdTurno int)

as
begin

select p.Nombre+space(1)+p.Apellido as Paciente ,cast (Fecha as date ) as Fecha,cast(Hora as varchar(8)) as Hora,m.Nombre + space(1)+m.Apellido as Medico
from ReservaTurnos rt inner join Pacientes p on p.IdPaciente=rt.IdPaciente inner join Medicos m on m.IdMedico=rt.IdMedico
where IdTurno=@IdTurno
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteTurnoPorIdTurno]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ReporteTurnoPorIdTurno](@Idturno int)
as
Begin
 Select p.Nombre +space(1)+p.Apellido as Paciente ,CAST(rt.Fecha as date) as Fecha ,CAST(Hora as varchar(8))as Hora,m.Nombre +space(1)+m.Apellido as Medico,e.Especialidad
  from ReservaTurnos rt inner join Pacientes p on p.IdPaciente=rt.IdPaciente 
                         inner join Medicos m on m.IdMedico=rt.IdMedico
                        inner Join Medicos_Especialidades me on me.IdMedicoEspecialidad = rt.IdMedicoEspecialidad
						inner join Especialidades e on e.IdEspecialidad=me.IdEspecialidad 
	Where rt.IdTurno=@Idturno
	End
GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteTurnoPorMedicoYFecha]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc [dbo].[SP_ReporteTurnoPorMedicoYFecha](@IdMedico int,@Fecha date)
  as
  Begin
  Select p.Nombre +space(1)+p.Apellido as Paciente ,CAST(Hora as varchar(8))as Hora,e.Especialidad
  from ReservaTurnos rt inner join Pacientes p on p.IdPaciente=rt.IdPaciente
                        inner Join Medicos_Especialidades me on me.IdMedicoEspecialidad = rt.IdMedicoEspecialidad
						inner join Especialidades e on e.IdEspecialidad=me.IdEspecialidad
where rt.IdMedico=@IdMedico and Fecha=@Fecha
end
GO
/****** Object:  StoredProcedure [dbo].[SP_ReporteTurnosPorMedicoYFechaActual]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ReporteTurnosPorMedicoYFechaActual](@IdMedico int)
as
begin
Select p.Apellido + SPACE(1) +p.nombre as Paciente ,cast(Fecha as date )as fecha ,Cast(Hora as nvarchar(8))as Hora, m.Apellido+SPACE(1)+m.Nombre as Medico,e.Especialidad
from ReservaTurnos rt inner join Pacientes p on p.IdPaciente=rt.IdPaciente 
                      inner join Medicos_Especialidades me on me.IdMedicoEspecialidad=rt.IdMedicoEspecialidad
					   right join Medicos m on m.IdMedico=me.IdMedico
					    left join Especialidades e on e.IdEspecialidad=me.IdEspecialidad
where m.IdMedico=@IdMedico and Fecha = cast(GetDate()as date)
order by Hora
  end
GO
/****** Object:  StoredProcedure [dbo].[SP_TraerIdALquiler]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Proc [dbo].[SP_TraerIdALquiler](@IdMedicoEspecialidad int,@FechaInicio date,@FechaFin date)
as
begin
select IdAlquilerConsultorio from AlquilerConsultorio
where IdMedicoEspecialidad = @IdMedicoEspecialidad and FechaInicio = @FechaInicio and FechaFin = @FechaFin
end
GO
/****** Object:  StoredProcedure [dbo].[SP_TraerTipoDeUsuario]    Script Date: 9/3/2025 1:55:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[SP_TraerTipoDeUsuario](@Tipo nvarchar(50))
as
begin
select * from TipoUsuarios where [Tipo Usuario]=@Tipo
end
GO
