<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Reportes.Properties.Settings.FinalConsultorioConnectionString"
            connectionString="Data Source=.;Initial Catalog=FinalConsultorio;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>